html {
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EAE7DC;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    top: 60px;
    left: 0;
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    /* overflow: auto; */
    transition: height 1s ease-out;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  border-left: 8px solid #8E8D8A;
  background-color: #E98074;
  color: black;
  width: 450px;
  border: 0 0 25px 0;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #8E8D8A; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #E98074; 
  border-radius: 10px;
}